.icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: .75rem;
  }


.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: .75rem;
  }


.bck-grd {
    background-color: #EFECEC;
}



.btn-secondary {
    background-color: #FC6736;
}

.btn-primary {
    background-color: #FC6736;
    border: 0px;
}

.nav-link {
    color: #0c2d57;
}

@media (min-width: 1200px) {
    #header {
        display:inline-block;
        flex-direction: row;
        width: 100vw;
        position:fixed;
        border: 1px solid #0c2d57;
    }

    #home-pic {
        padding-top: 50px;
        padding-bottom: 0px;
    }
}

